---
Checks: >
  bugprone-*,
  cert-*,
  cppcoreguidelines-*,
  security-*,

  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-vararg,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-naming-*,
  -bugprone-easily-swappable-parameters,

  misc-throw-by-value-catch-by-reference,
  misc-unconventional-assign-operator,

  performance-inefficient-string-concatenation,
  performance-inefficient-vector-operation,
  performance-move-const-arg,
  performance-move-constructor-init,
  performance-no-automatic-move,
  performance-noexcept-move-constructor

WarningsAsErrors:
  - 'cert-*'
  - 'security-*'
  - 'bugprone-unhandled-self-assignment'
  - 'bugprone-use-after-move'

HeaderFilterRegex: '.*'
AnalyzeTemporaryDtors: true

CheckOptions:
  # Options to configure specific checks for better security analysis.
  - key:             cert-dcl58-cpp.AllowedIdentifiers
    value:           'main;NS_IMETHOD;NS_IMETHODIMP'
  - key:             bugprone-suspicious-string-compare.WarnOnImplicitComparison
    value:           'true'
  - key:             bugprone-suspicious-string-compare.WarnOnLogicalNotComparison
    value:           'true'
  - key:             cppcoreguidelines-pro-type-member-init.IgnoreArrays
    value:           'true'
